#nav-portrait .port-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#nav-portrait .port-img:before {
    background: 50% 10% / cover;
}

#nav-portrait .port-img::before {
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    display: block;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(233, 30, 99, 0.31), rgba(233, 30, 99, 0.31)), url(../images/hotel3.jpg);
    transform: translateZ(-1px) scale(2);
    width: 100vw;
    height: 131vh;
    z-index: -1;
    background-position-y: 97px;
    margin-top: 0px;
    position: absolute;
}

#nav-portrait .port-button {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 501px) {}

#nav-portrait .port-text {
    position: relative;
}

#nav-portrait .port-text span {
    font-size: calc(1.4em + 1.4vw);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 700;
    mix-blend-mode: darken;
    right: -38px;
    position: relative;
}

#nav-portrait .port-text input {
    font-size: 1.4em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 700;
    right: -42px;
}

#nav-portrait .port-text h1 {
    font-size: calc(2.5em + 2.5vw);
    font-weight: 100;
    color: #E91E63;
    letter-spacing: 24px;
    background-color: aliceblue;
    mix-blend-mode: color;
    padding-right: 10px;
    padding-left: 34px;
    border-radius: 16px;
}

#nav-portrait .port-text a {
    color: white;
}

@media (max-width: 767px) {
    #nav-portrait .port-text {
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}