html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Philosopher', 'Calibri';
    font-weight: 100;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
}

.buttons {
    padding: 11px;
    background-color: #ad1347;
    position: absolute;
    padding-right: 84px;
    padding-left: 84px;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;
    border-color: transparent;
    transition: all .3s;
    color: white;
    text-decoration: none;
}

.buttons:hover {
    padding: 11px;
    background-color: transparent;
    position: absolute;
    padding-right: 44px;
    padding-left: 44px;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(225, 193, 255, 0.397);
    transition: all .3s;
    color: white;
    text-decoration: none;
}

.buttons-info {
    padding: 11px;
    background-color: #ad1347;
    position: relative;
    padding-right: 54px;
    padding-left: 54px;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;
    border-color: transparent;
    transition: all .3s;
    color: white;
    text-decoration: none;
    right: -88px;
    top: 29px;
}

.buttons-info:hover {
    padding: 11px;
    background-color: white;
    position: relative;
    padding-right: 84px;
    padding-left: 84px;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(225, 193, 255, 0.397);
    transition: all .3s;
    color: black;
    text-decoration: none;
    right: -88px;
    top: 29px;
}

.buttons-search {
    padding: 11px;
    background-color: #ad1347;
    position: relative;
    padding-right: 54px;
    padding-left: 54px;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;
    border-color: transparent;
    transition: all .3s;
    color: white;
    text-decoration: none;
    top: 29px;
}

.buttons-search:hover {
    padding: 11px;
    background-color: white;
    position: relative;
    padding-right: 84px;
    padding-left: 84px;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(225, 193, 255, 0.397);
    transition: all .3s;
    color: black;
    text-decoration: none;
    top: 29px;
}

@media (max-width: 992px) {
    .buttons-search {
        padding: 11px;
        background-color: #ad1347;
        position: relative;
        padding-right: 54px;
        padding-left: 54px;
        font-size: 16px;
        border-style: solid;
        border-radius: 30px;
        border-color: transparent;
        transition: all .3s;
        color: white;
        text-decoration: none;
        right: -38px;
        top: 29px;
    }
    .buttons-search:hover {
        padding: 11px;
        background-color: white;
        position: relative;
        padding-right: 84px;
        padding-left: 84px;
        font-size: 16px;
        border-style: solid;
        border-radius: 30px;
        border-color: rgba(225, 193, 255, 0.397);
        transition: all .3s;
        color: black;
        text-decoration: none;
        right: -38px;
        top: 29px;
    }
}

@media (max-width: 767px) {
    .buttons-search {
        padding: 11px;
        background-color: #ad1347;
        position: relative;
        padding-right: 54px;
        padding-left: 54px;
        font-size: 16px;
        border-style: solid;
        border-radius: 30px;
        border-color: transparent;
        transition: all .3s;
        color: white;
        text-decoration: none;
        right: -57px;
        top: -108px;
    }
    .buttons-search:hover {
        padding: 11px;
        background-color: white;
        position: relative;
        padding-right: 84px;
        padding-left: 84px;
        font-size: 16px;
        border-style: solid;
        border-radius: 30px;
        border-color: rgba(225, 193, 255, 0.397);
        transition: all .3s;
        color: black;
        text-decoration: none;
        right: -57px;
        top: -108px;
    }
}

.small-disc {
    position: relative;
    top: 6px;
}

.small-disc .buttons-forms {
    padding: 11px;
    background-color: #ad1347;
    position: relative;
    padding-right: 84px;
    padding-left: 84px;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;
    border-color: transparent;
    transition: all .3s;
    color: white;
    text-decoration: none;
    outline: none;
}

.small-disc .buttons-forms:hover {
    padding: 11px;
    background-color: transparent;
    position: relative;
    padding-right: 44px;
    padding-left: 44px;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(225, 193, 255, 0.397);
    transition: all .3s;
    color: white;
    text-decoration: none;
    outline: none;
    color: black;
}

.buttons-nobackground {
    padding: 11px;
    position: absolute;
    background-color: transparent;
    position: absolute;
    padding-right: 44px;
    padding-left: 44px;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(225, 193, 255, 0.397);
    transition: all .3s;
}

.buttons-nobackground:hover {
    padding: 11px;
    background-color: #e91e63;
    position: absolute;
    padding-right: 44px;
    padding-left: 44px;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;
    border-color: transparent;
    transition: all .3s;
}

nav {
    z-index: 1;
}

nav li {
    color: whitesmoke;
}

.padding {
    padding: 37px;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.background-white {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 100;
}

.background-smoke {
    background-color: whitesmoke;
}

.background-violet {
    color: #e91e63;
}

.background-violet {
    background-color: rgba(179, 135, 220, 0.55);
    transform: translateZ(-1px) scale(2);
}

.curve {
    border-style: hidden;
    border-radius: 11px;
}

.no-underline {
    text-decoration: none;
}

.dropdown-item {
    display: block;
    padding: 6px;
    color: #e91e63;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #4a4646;
    width: 94%;
    background-color: transparent;
}

.vip {
    color: #e91e63;
    position: absolute;
    top: 23%;
    right: -28%;
    font-size: 8em;
    padding: 0px;
    padding-right: 2em;
    mix-blend-mode: overlay;
    font-weight: 500;
}

.vip:hover {
    color: rgba(233, 30, 99, 0.31);
    position: absolute;
    top: 23%;
    right: -28%;
    font-size: 8em;
    padding: 0px;
    padding-right: 2em;
    mix-blend-mode: darken;
    font-weight: 500;
}

input {
    margin: 12px;
    width: 17em;
    padding: 5px;
    background-color: transparent;
    border-style: hidden;
    border-bottom-style: solid;
    border-width: .5px;
    outline: none;
}

input::placeholder {
    color: gray;
}

.input-search {
    margin: 12px;
    width: 17em;
    padding: 5px;
    background-color: transparent;
    border-style: solid;
    border-width: .5px;
    outline: none;
}

.input-search::placeholder {
    color: gray;
}

textarea {
    border-style: solid;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;
    width: calc(14em + 14vw);
}

#copyrights {
    position: relative;
    top: 92rem;
}

#header img {
    position: absolute;
    z-index: -1;
}