#developers {
  position: relative;
  top: 75rem; }
  #developers .whole-dev .dev-img img {
    border-style: solid;
    width: 100%;
    height: 41vh;
    mix-blend-mode: luminosity;
    transition: all 1s ease; }
    #developers .whole-dev .dev-img img:hover {
      mix-blend-mode: normal;
      transition: all 1s ease; }
  #developers .whole-dev .dev-text .small-disc {
    text-overflow: ellipsis;
    height: 11vh;
    overflow: hidden; }
    #developers .whole-dev .dev-text .small-disc h3 {
      color: rgba(98, 10, 180, 0.61); }
  #developers .whole-dev .dev-icons {
    font-size: 31px; }
    #developers .whole-dev .dev-icons a {
      text-decoration: none;
      color: rgba(98, 10, 180, 0.61); }

@media (max-width: 500px) {
  #developers {
    top: 61rem; } }

#edit-goods {
  position: relative;
  top: 0rem; }
  #edit-goods .whole-dev .dev-img img {
    border-style: solid;
    width: 100%; }
  #edit-goods .whole-dev .dev-text .small-disc {
    text-overflow: ellipsis;
    height: 11vh;
    overflow: hidden; }
    #edit-goods .whole-dev .dev-text .small-disc h3 {
      color: rgba(98, 10, 180, 0.61); }
  #edit-goods .whole-dev .dev-icons {
    font-size: 31px; }
    #edit-goods .whole-dev .dev-icons a {
      text-decoration: none;
      color: rgba(98, 10, 180, 0.61); }

#single-item {
  position: relative;
  top: 0rem; }
  #single-item .whole-dev .dev-img img {
    border-style: solid;
    width: 70%; }
  #single-item .whole-dev .dev-img-form a {
    text-decoration: none; }
    #single-item .whole-dev .dev-img-form a img {
      border-style: solid;
      width: 50%;
      opacity: 1;
      transition: all .3s; }
      #single-item .whole-dev .dev-img-form a img:hover {
        opacity: .5;
        transition: all .3s; }
    #single-item .whole-dev .dev-img-form a i {
      font-size: 7em;
      position: relative;
      top: 3rem;
      left: -33rem;
      color: #ec97b4; }
  #single-item .whole-dev .dev-text .small-disc h3 {
    color: rgba(98, 10, 180, 0.61); }
  #single-item .whole-dev .dev-icons {
    font-size: 31px; }
    #single-item .whole-dev .dev-icons a {
      text-decoration: none;
      color: rgba(98, 10, 180, 0.61); }

#heading-nav {
  position: relative;
  top: 86rem; }
  #heading-nav .whole-dev .dev-img img {
    border-style: solid;
    width: 70%; }
  #heading-nav .whole-dev .dev-text .small-disc h3 {
    color: rgba(98, 10, 180, 0.61); }
  #heading-nav .whole-dev .dev-icons {
    font-size: 31px; }
    #heading-nav .whole-dev .dev-icons a {
      text-decoration: none;
      color: rgba(98, 10, 180, 0.61); }
